.input {
  display: flex;
  align-items: center;
  width: 600px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  gap: 10px;
  margin: 20px auto;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.textInput {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;

  &::placeholder {
    color: var(--color-light-grey);
  }
}
