@import '../../app/styles/color.scss';

.root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient1);
  margin-top: 130px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.introBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 999px;
  font-size: 20px;
  background: var(--color-green-neon);
  border: 1px solid var(--btn2-border);
}

.titleIcon {
  width: 250px;
  height: 210px;
  position: absolute;
  right: 200px;
}

.title1 {
  font-size: 60px;
  font-weight: bold;
  margin:20px;
}

.title2 {
  font-size: 24px;
  margin: 30px 0;
  font-weight: 200;
}

.keywordRow {
  display: flex;
  margin: 5px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
