.navbar {
  width: 100%;
  padding: 16px 0px;
}

.container {
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImage {
  width: 60px;
  height: auto;
}

.profileButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}
